{% extends 'base.html' %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000f30;
  color: white;
}
</style>
</head>
<body>

<h1>Job Applyed Table</h1>

<table id="customers">
{% if Job %}

    <tr>
        <th scope="col">Job Title</th>
        <th scope="col">Company</th>
        <th scope="col">Location</th>
        <th scope="col">Salary</th>
        <th scope="col">Employment Type</th>
        <th scope="col">Status</th>
        <th scope="col">Resume</th>
        <th scope="col">Actions</th>
    </tr>

    {% for job_application in Job %}
    <tr>
        <td>{{ job_application.job.job_title }}</td>
        <td>{{ job_application.job.company_name }}</td>
        <td>{{ job_application.job.location }}</td>
        <td>${{ job_application.job.salary|default:"N/A" }}</td>
        <td>{{ job_application.job.employment_type|title }}</td>
        <td>
            {% if job_application.status == 'pending' %}
                <span class="badge badge-warning">Pending</span>
            {% elif job_application.status == 'interview_scheduled' %}
                <span class="badge badge-success">Interview Scheduled</span>
                <!-- Show the Message button when status is 'interview_scheduled' -->
               
            {% elif job_application.status == 'rejected' %}
                <span class="badge badge-danger">Rejected</span>
            {% elif job_application.status == 'hired' %}
                <span class="badge badge-primary">Hired</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>

{% else %}
<div class="alert alert-info text-center">
    You haven't applied for any jobs yet.
</div>
{% endif %}

</body>
</html>

{% endblock body %}
